<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>aws-ses-local</title>
  <link th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:insert="common/header :: header_fragment"></div>
<div class="container error-container">
  <div class="card">
    <div class="card-body text-center">
      <h1 th:switch="${status}">
        <span th:case="404">お探しのページが見つかりませんでした</span>
        <span th:case="500">エラーが発生しました。</span>
        <span th:case="*">エラーが発生しました。</span>
      </h1>
      <p th:switch="${status}">
        <span th:case="500">予期せぬエラーが発生しました。</span>
        <span th:case="*">予期せぬエラーが発生しました。</span>
      </p>
      <a href="/" class="btn btn-primary mt-4">Back to Home</a>
    </div>
  </div>
</div>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>
