<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Hello Thymeleaf</title>
    <link th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" rel="stylesheet" >
</head>
<body>
<div class="accordion accordion-flush" id="accordionFlush">
    <th:block th:each="mail : ${mails}">
    <div class="accordion-item">
        <h2 class="accordion-header" id="[[${mail.messageId}]]">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" th:text="${mail.subject}">
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="[[${mail.messageId}]]" data-bs-parent="#accordionFlush">
            <div class="accordion-body">
                <p>to: [[${mail.destination.to}]]</p><br/>
                <p>text: [[${mail.body.text}]]</p><br/>
                <p>html: [[${mail.body.html}]]</p><br/>
            </div>
        </div>
    </div>
    </th:block>
</div>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>