<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>aws-ses-local</title>
    <link th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" rel="stylesheet" >
</head>
<body>
<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">AWS-SES-LOCAL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form th:action="@{/}" method="get">
                <div class="col-md">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInputGrid" placeholder="sample@team-lab.com" th:name="to">
                        <label for="floatingInputGrid">Email address</label>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Mail Clear
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="accordion accordion-flush" id="accordionFlush">
    <div class="accordion-item">
        <th:block th:each="mail : ${mails.emails}">
            <h2 class="accordion-header" th:id="${mail.messageId}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="'#flush-' + ${mail.messageId}" aria-expanded="false" th:aria-controls="'flush-' + ${mail.messageId}">
                    [[${mail.subject}]]
                    to: [[${mail.destination.to[0]}]]
                </button>
            </h2>
            <div th:id="'flush-' + ${mail.messageId}" class="accordion-collapse collapse" th:aria-labelledby="${mail.messageId}" data-bs-parent="#accordionFlush">
                <div class="accordion-body">
                    <p>subject: [[${mail.subject}]]</p>
                    <p>to: [[${mail.destination.to[0]}]]</p>
                    <p>from: [[${mail.from}]]</p>
                    <blockquote class="blockquote">
                        <p>text:<br/> [[${mail.body.text}]]</p>
                    </blockquote>
                    <blockquote class="blockquote">
                        <p>html:<br/> [[${mail.body.html}]]</p>
                    </blockquote>
                    <p>at: [[${mail.at}]]</p>
                </div>
            </div>
        </th:block>
    </div>
</div>
<th:block th:if="${mails.totalPage > 0}">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" th:classappend="${mails.currentPage == 0} ? 'disabled' : ''">
                <a class="page-link" th:href="@{'?page=' + ${mails.currentPage - 2}}">&laquo;</a>
            </li>
            <li class="page-item" th:each="page : ${#numbers.sequence(1, mails.totalPage)}" th:classappend="${mails.currentPage + 1 == page} ? 'active' : ''">
                <a class="page-link" th:href="@{'?page='+ ${page}}" th:text="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${mails.currentPage + 1 == mails.totalPage} ? 'disabled' : ''">
                <a class="page-link" th:href="@{'?page=' + ${mails.currentPage + 2}}">&raquo;</a>
            </li>
        </ul>
    </nav>
</th:block>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Do you want to delete all emails?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form th:action="@{'/clear-all'}" th:method="post" data-bs-dismiss="modal">
                    <input type="hidden" name="_method" />
                    <button type="submit" class="btn btn-danger">Mail Clear</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>